@charset "utf-8";
*{margin: 0;
padding: 0;
box-sizing: border-box;
color: #333;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
    max-width: 100%;
}
button{
    cursor: pointer;
}
body{
    background: #fff; color: #333;
}
header{
    height: 100px;
    background-color: #003366;
}
header .inner{
    width: 1200px;
    margin: auto;
    background-color: #003366;
    height: 100%;
    padding-top: 10px;
    position: relative;
}
nav{
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1000;
}
nav > ul{
    display: flex;

}
nav > ul > li > a{
    display: block; width: 150px; text-align: center; padding: 10px;
    color: #fff;
}
nav > ul > li > a:hover{
    background-color: #fff884;
}
.submenu{
    display: none;
} 
.submenu a{
    display: block; text-align: center; padding: 10px 0; font-size: 14px; color:#fff;
    
}

.submenu a:hover{
    background-color: #a1df10;
}
.menutg{width: 100%;height: 155px;background-color: rgba(0,0,0,0.8); position: absolute; top: 100px; left: 0;
    z-index: 10;
    display: none;
}
/*header*/

.slide{
    height: 300px;
    width: 1200px;
    margin: auto;
    background-color: #1e81af;
    position: relative;
}
.slide ul li{
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 0; left: 0;
    display: none;
    
}
.slide ul li a{
    display: block; height: 100%;
}
.slide ul li.s1{
    background: url(../images/slider01.jpg) no-repeat center/cover;
    display: block;
}
.slide ul li.s2{
    background: url(../images/slider02.jpg) no-repeat center/cover;
}.slide ul li.s3{
    background: url(../images/slider03.jpg) no-repeat center/cover;
}
.slide ul li h2{
    color: #fff884; text-shadow: 0 5px 10px #fff884; display: flex; font-size: 35px; position: absolute; top: 50%; left: 30%;
    transform: translateY(-50%);
}
/*slide*/
.contents{
    width: 1200px;
    height: 200px;
    margin: auto;
    background-color: #fff884;
    display: flex;
}
.contents article{
    width: 400px;
}
.con{
    padding: 10px;
}
.tabmenu{
    display: flex;
}
.tabmenu > li{}
.tabmenu > li.on{}
.tabmenu > li>h2>a{}


.contents .banner{
    background-color: #363497;
}
footer{
   height: 120px;
   background-color: #552121;
}
footer .inner{
    width: 1200px;
    margin: auto;
    background-color: #a1df10;
    height: 100%;
}